{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <p>{{ post.body }}</p>

    <em>
        <a href="{{ path('post_edit', {'slug': post.slug}) }}">Edit</a>
    </em>

    <em>
        <a href="{{ path('post_delete', {'slug': post.slug}) }}">Delete</a>
    </em>
{% endblock %}
